{#{% extends '@MopaBootstrap/base.html.twig' %}#}
{% embed 'AppBundle::base.html.twig' %}
{% block html_tag %}
<html lang="en">
{% endblock html_tag %}

{% block content_div_start %}<div class="content">{% endblock content_div_start %}
    {% block page_header %}
        <div class="page-header">
            <h1>{% block headline %}Hello
                    {% if app.user %}
                        {{ app.user.username}}
                    {% else %}
                       Noone!
                    {% endif %}
                    <a href="/login">login</a>

                {% endblock headline %}</h1>
            <h2></h2>
        </div>
    {% endblock page_header %}
{% block content_div_end %}</div>{% endblock content_div_end %}

{% endembed %}